body,html {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica Neue;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "navigation"
     "content"

    /* might want to look for another background
    background: linear-gradient(rgba(37,35,35,0.5), rgba(37, 35, 35, 0.5)), url('../images/stone-water-ripple-clipart-10-1170x658.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

.nav {
    grid-area: navigation;
}

.loginStyle {
    border: none;
    text-decoration: none;
    margin-right: 2em;
    font-size: 1em;
}
.body {
   grid-area: content;
   grid-template-rows: 1fr min-content;
   height: 100vh;
}

* {
    box-sizing: border-box;
}


.navItem {
    margin-right: 2em;
    text-decoration: none;
}